/* Color palette: https://coolors.co/palette/e63946-f1faee-a8dadc-457b9d-1d3557 */

$imperial-red: rgba(230, 57, 70, 1);
$honeydew: rgba(241, 250, 238, 1);
$powder-blue: rgba(168, 218, 220, 1);
$celadon-blue: rgba(69, 123, 157, 1);
$prussian-blue: rgba(29, 53, 87, 1);

$font-size: 18px;
$padding: 20px;
$std-border-radius: 10px;